    </main>
    <footer>
      <div class = "ui center aligned container">
        <p>Find Us On</p>
        <button class="ui github button">
          <i class="github icon"></i><a href = "https://github.com/mgautam98/challenge3">
            GitHub
          </a>
          
        </button>
        <button class="ui google plus button">
          <i class="google plus icon"></i>
          Google Plus
        </button>
        <button class="ui linkedin button">
          <i class="linkedin icon"></i>
          LinkedIn
        </button> 
        <button class="ui facebook button">
          <i class="facebook icon"></i>
          Facebook
        </button>
        <div class="ui inverted section divider"></div>
        <p class="ui copyright">Copyright &copy; challenge3</p>
      </div>
    </footer>
    </body>
</html>