        <div class = "ui container" style = "padding-top:50px">
                
                <center>
                        <button class="ui facebook button">
                          <i class="facebook icon"></i>
                          Facebook
                        </button>
                        <button class="ui google plus button">
                          <i class="google plus icon"></i>
                          Google Plus
                        </button>
                        <button class="ui linkedin button">
                          <i class="linkedin icon"></i>
                          LinkedIn
                        </button>      
                        <p class="copyright">Copyright &copy; challenge3</p>
                </center>
                
        </div>
    </body>
</html>