        <div class = "ui vertical footer padded raised segment" >
          <div class = "ui center aligned container">
            <button class="ui facebook button">
              <i class="facebook icon"></i>
              Facebook
            </button>
            <button class="ui google plus button">
              <i class="google plus icon"></i>
              Google Plus
            </button>
            <button class="ui linkedin button">
              <i class="linkedin icon"></i>
              LinkedIn
            </button>      
            <p class="ui copyright">Copyright &copy; challenge3</p>
          </div>
        </div>
    </body>
</html>