<!DOCTYPE html>
<html>
    <head>
        <title>challenge3</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css">
        <link rel="stylesheet" type="text/css" href="/stylesheet/app.css">
    </head>
    <body>
            <div class="ui attached stackable menu", style="margin-bottom:5%">
        
                <div class = "ui container">
                    <a href="/" class="item active">
                        <i class="pied piper alternate icon"></i> challenge3
                    </a>
                    <% if(currentUser){ %>
                        <a class="item">
                        <i class="comments icon"></i> Messages
                        </a>
                        <a href="/users/<%=currentUser.id%>/friends" class="item">
                            <i class="users icon"></i> Friends
                        </a>
                    <% } %>
                    
                    <div class="right menu">
                        <% if(!currentUser){ %>
                            <a href="/login" class="ui item">
                                Login
                            </a>
                            <a class="ui item" href = "/register">
                                <i class="user plus icon"></i> Register
                            </a>
                        <% } else{ %>
                            <a class="ui item" href="/posts/new">
                                Post
                            </a>
                            <a href="/users/<%=currentUser.id %>" class="ui item">
                                <%= currentUser.username %>
                            </a>
                            <a href="/logout" class="ui item">
                                Logout
                            </a>
                        <% } %>
                    </div>    
                </div>
            </div>