<!DOCTYPE html>
<html>
    <head>
        <title>challenge3</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css">
        <link rel="stylesheet" type="text/css" href="/stylesheet/app.css">
    </head>
    <body>
            <div class="ui attached stackable menu">
        
                <div class = "ui container">
                    <a href="/" class="item active">
                        <i class="home icon"></i>Home
                    </a>
                    <a class="item">
                       <i class="comments icon"></i> Messages
                    </a>
                    <a class="item">
                       <i class="users icon"></i> Friends
                    </a>
                    <div class="right menu">
                        <a class="ui item">
                            Profile
                        </a>
                        <a href="/login" class="ui item">
                            Login
                        </a>
                        <a href="/logout" class="ui item">
                            Logout
                        </a>
                        <a class="ui item" href = "/register">
                        <i class="user plus icon"></i> Register
                        </a>
                    </div>    
                </div>
                
            </div>