<!DOCTYPE html>
<html>
  <head>
    <title>challenge3</title>
    <title>challenge3</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
      $(function () {
        var socket = io();
        $('form').submit(function(e){
          e.preventDefault(); // prevents page reloading
          socket.emit('chat message', $('#m').val());
          $('#m').val('');
          return false;
        });
        socket.on('chat message', function(msg){
          $('#messages').append($('<li>').text(msg));
        });
      });
    </script>
  </head>
  <body>
  <div class="ui attached stackable menu", style="margin-bottom:5%">
    <div class = "ui container">
      <a href="/" class="item active">
        <i class="pied piper alternate icon"></i> challenge3
      </a>
      <% if(currentUser){ %>
        <a href="/chat" class="item">
        <i class="comments icon"></i> Chat
        </a>
        <a href="/users/<%=currentUser.id%>/friends" class="item">
            <i class="users icon"></i> Friends
        </a>
      <% } %>
      
      <div class="right menu">
        <% if(!currentUser){ %>
            <a href="/login" class="ui item">
                Login
            </a>
            <a class="ui item" href = "/register">
                <i class="user plus icon"></i> Register
            </a>
        <% } else{ %>
            <a class="ui item" href="/posts/new">
                Post
            </a>
            <a href="/users/<%=currentUser.id %>" class="ui item">
                <img class="ui avatar image" src="<%= currentUser.avatar%>"> <%= currentUser.username %>
            </a>
            <a href="/logout" class="ui item">
                Logout
            </a>
        <% } %>
      </div>    
    </div>
  </div>  
    
    
    
    
  <!--====================HEADER CONTENT============================================-->
  
  <div class="ui container">
    <div class="ui grid">
      <div class="four wide column">
        <div class="ui segments">
          <div class="ui segment">
            <p>
              ONLINE
            </p>
          </div>
        </div>
      </div>
      <div class="twelve wide column">
        <div class="ui segments">
          <div class="ui segment">
            <p>
              <b>CHAT</b>CHAT
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ul id="messages"></ul>
  <form action="">
    <input id="m" autocomplete="on" /><button>Send</button>
  </form>
    
    
    
  <!--========================FOOTER CONTENT===============================================-->
  
  
  <div style="margin-top:5%;">  
    <div class = "ui vertical footer padded raised segment">
      
      <div class = "ui center aligned container">
        <p>Find Us On</p>
        <button class="ui github button">
          <i class="github icon"></i>
          GitHub
        </button>
        <button class="ui google plus button">
          <i class="google plus icon"></i>
          Google Plus
        </button>
        <button class="ui linkedin button">
          <i class="linkedin icon"></i>
          LinkedIn
        </button> 
        <button class="ui facebook button">
          <i class="facebook icon"></i>
          Facebook
        </button>
        <div class="ui inverted section divider"></div>
        <p class="ui copyright">Copyright &copy; challenge3</p>
      </div>
    </div>
  </div>
  </body>
</html>