<% include ./partials/header %>

<div class="ui container">
    <h3 class="ui block header">
      Friends
    </h3>
    <div class="ui four column grid">
      <div class="column">
        <div class="ui fluid card">
          <div class="image">
            <img src="/images/avatar.jpg">
          </div>
          <div class="content">
            <a class="header">Daniel Louise</a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui fluid card">
          <div class="image">
            <img src="/images/avatar.jpg">
          </div>
          <div class="content">
            <a class="header">Helen Troy</a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui fluid card">
          <div class="image">
            <img src="/images/avatar.jpg">
          </div>
          <div class="content">
            <a class="header">Elliot Fu</a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui fluid card">
          <div class="image">
            <img src="/images/avatar.jpg">
          </div>
          <div class="content">
            <a class="header">Elliot Fu</a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui fluid card">
          <div class="image">
            <img src="/images/avatar.jpg">
          </div>
          <div class="content">
            <a class="header">Elliot Fu</a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui fluid card">
          <div class="image">
            <img src="/images/avatar.jpg">
          </div>
          <div class="content">
            <a class="header">Elliot Fu</a>
          </div>
        </div>
      </div>
      
    </div>
    
</div>


<% include ./partials/footer %>