<% include ./partials/header %>

<div class="ui container">
 <div class="ui large feed">
        <% posts.forEach(function(post){ %>
            <div class="event">
                <div class="label">
                  <img src="/images/avatar.jpg">
                </div>
                <div class="content">
                  <div class="summary">
                    <a href="/users/<%= post.author.id %>" class="user">
                      <%= post.author.username %>
                    </a> Posted <%= post.title %>
                    <div class="date">
                      1 Hour Ago
                    </div>
                    <div class="extra text">
                        <a href="/posts/<%=post._id%>"><%= post.body.substring(0, 100) %></a>
                    </div>
                  </div>
                  <div class="meta">
                    <a class="like">
                      <i class="like icon"></i> <%=post.meta.votes %> Votes
                    </a>
                  </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>


<% include ./partials/footer %>