<!DOCTYPE html>
<html>
    <head>
        <title>challenge3</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css">
        <link rel="stylesheet" type="text/css" href="/stylesheet/app.css">
    </head>
    <body>
        
        <a href="#" >Login</a>
        <br>
        <a href="#">Register</a>
        <p class="copyright">Copyright &copy; challenge3</p>
    </body>
</html>