<% include ./partials/header %>

<div class="ui container">
    <a href="/posts/new" >Add a new Post</a>
    <br>
    
    <div class="ui feed">
        <% posts.forEach(function(post){ %>
            <div class="event">
                <div class="label">
                  <img src="/images/avatar.jpg">
                </div>
                <div class="content">
                  <div class="summary">
                    <a class="user">
                      <%= post.author %>
                    </a> Posted <%= post.title %>
                    <div class="date">
                      1 Hour Ago
                    </div>
                    <div class="extra text">
                        <%= post.body.substring(0, 100) %>
                    </div>
                  </div>
                </div>
            </div>
        <% }); %>
    <div>
</div>


<% include ./partials/footer %>