<% include ./partials/header %>

<div class = "ui very padded text container segment">
    <form action="/posts" method="POST" class="ui form">
      <div class="field">
        <label>Title</label>
        <input type="text" name="title" placeholder="Title">
      </div>
      <div class="field">
        <label>Body</label>
        <textarea rows="10" cols="50" name="body" placeholder="Write here ...."></textarea>
      </div>
      <button class="fluid ui inverted blue button" type="submit">Post</button>
    </form>
</div>



<% include ./partials/footer %>