<% include ./partials/header %>

<div class = "ui very padded text container segment">
    <form action="/register" method="POST" class="ui form">
      <div class="field">
        <label>Email</label>
        <input type="email" name="email" placeholder="yourname@example.com">
      </div>
      <div class="field">
        <label>Username</label>
        <input type="text" name="username" placeholder="User Name">
      </div>
      <div class="field">
        <label>Password</label>
        <input type="password" name="password" placeholder="Password">
      </div>
      
      <button class="fluid ui inverted blue button" type="submit">Submit</button>
    </form>
</div>



<% include ./partials/footer %>