<% include ./partials/header %>
    
    <div class="ui container">
        <div class="ui two column grid">
            <div class="column">
                <div class="ui card">
                  <div class="image">
                    <img src="/images/avatar.jpg">
                  </div>
                  <div class="content">
                    <a class="header">Kristy</a>
                    <div class="meta">
                      <span class="date">Joined in 2013</span>
                    </div>
                    <div class="description">
                      Kristy is an art director living in New York.
                    </div>
                  </div>
                  <div class="extra content">
                    <a>
                      <i class="user icon"></i>
                      22 Friends
                    </a>
                  </div>
                </div>
            </div>
            <div class="column">
                
                <div class="ui four huge statistics">
                  <div class="blue statistic">
                    <div class="value">
                      0
                    </div>
                    <div class="label">
                      Posts
                    </div>
                  </div>
                  <div class="blue statistic">
                    <div class="value">
                      0
                    </div>
                    <div class="label">
                      Votes
                    </div>
                  </div>
                  <div class="blue statistic">
                    <div class="value">
                      0
                    </div>
                    <div class="label">
                      Favorites
                    </div>
                  </div>
                </div>
                
            </div>
        </div>
    </div>
    
        
        


<% include ./partials/footer %>