<% include ./partials/header %>

    <div class="ui container">
        <div>
            <h3 class="ui block header">
              <%= post.title %>
            </h3>
            <p>
                <%= post.body %>
            </p>
            <div class="item">
                <img class="ui mini circular image" src="/images/avatar.jpg">
                <div class="content">
                  <div class="ui sub header"><%= post.author.username %></div>
                  Autor
                </div>
            </div>
            <div>
                <div class="meta">
                    <a class="like">
                      <i class="like icon"></i> <%=post.meta.votes %> Votes
                    </a>
                </div>
            </div>
            
            <!--comments section-->
            <div class="ui comments">
              <h3 class="ui dividing header">Comments</h3>
              <div class="comment">
                <a class="avatar">
                  <img src="/images/avatar.jpg">
                </a>
                <div class="content">
                  <a class="author">Matt</a>
                  <div class="metadata">
                    <span class="date">Today at 5:42PM</span>
                  </div>
                  <div class="text">
                    How artistic!
                  </div>
                  <div class="actions">
                    <a class="reply">Reply</a>
                  </div>
                </div>
              </div>
              <form class="ui reply form">
                <div class="field">
                  <textarea></textarea>
                </div>
                <div class="ui blue labeled submit icon button">
                  <i class="icon edit"></i> Add Reply
                </div>
              </form>
            </div>
        </div>
    </div>

<% include ./partials/footer %>