<% include ./partials/header %>

    <div class="ui container">
        <div>
            <h3 class="ui block header">
              Title
            </h3>
            <p>
                Body
            </p>
            <div class="item">
                <img class="ui mini circular image" src="/images/avatar.jpg">
                <div class="content">
                  <div class="ui sub header">Author</div>
                  Name
                </div>
              </div>
        </div>
    </div>

<% include ./partials/footer %>