html {
    position: relative;
    min-height: 100%;
}

#delete{
    display: inline;
}

a { color: inherit; } 

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}